.prod-card {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5%;
  width: 40%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 3px 2px 20px 10px #888888;
}

.prod-img-container {
  display: flex;
  justify-content: space-around;
}

.prod-img {
  margin: auto;
  width: 60%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
}

.link-title {
  text-decoration: none;
  color: #000;
}
.link-title:hover {
  color: #8568ff;
}
.prod-content {
  color: #a9acc6;
  font-size: larger;
}

@media only screen and (min-width: 375px) {
  .prod-card {
    width: 90%;
  }
  .prod-img {
    max-width: 60%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .prod-card {
    width: 80%;
  }
  .prod-img {
    max-width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .prod-card {
    width: 70%;
  }
  .prod-img {
    max-width: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .prod-card {
    width: 60%;
  }
  .prod-img {
    max-width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .prod-card {
    width: 40%;
  }
  .prod-img {
    max-width: 60%;
  }
}
