.footer-container {
  background-color: #0d0e43;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1.5fr repeat(2, 1fr) 1.5fr;
}

.title-footer {
  background-color: #0d0e43;
  color: white;
  font-size: medium;
  padding:10px;
}

.categories-footer {
  background-color: #0d0e43;
  color: #8a8fb9;
  font-size: small;
  justify-content: space-around;
  padding: 10px;
}

.ul-style {
  list-style-type: none;
  padding: 0px;
  margin: 0;

}

.account-footer {
  background-color: #0d0e43;
  color: #8a8fb9;
  font-size: small;
  display: grid;
  padding: 10px;
}

.link {
  color: #8A8FB9;
}

.button {
  background-color: #fff;
  border-radius: 60px;
  border: 2px solid white;
  padding: 1px;
  width: 20px;
  height: 20px;
  margin: 5%;
}

.footer-title {
  color: #8568FF;
  display:flex;
  justify-content: center;

}

.footer-span {
  color: #fff;
}
