.image {
  margin: auto;
  max-width: 30%;
  height: auto;
}

.description {
  background-color: #f9f8fe;
  color: #151875;
}

.description-panel {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: larger;
}

.product-panel {
  display:flex;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.content {
  margin: auto;
  padding: 40px;
  flex-direction: column;
}

.title-description {
  color: #151875;
  font-size: medium;
}

.text-description {
  color: #a9acc6;
  font-size: small;
}

.product-title {
  color: #0d134e;
  font-size: x-large;
}

.product-rating-cat {
  color: #151875;
  font-size: small
}

.product-price {
  color: #151875;
}

.product-description {
  color: #a9acc6;
  font-size: small;
}

.button-review {
  color: #151875;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #1d3178;
  padding: 1px;
  width: 70px;
  height: 20px;

  font-size: x-small;

}

.description-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}



.cat-share-titles {
  color: #151875
}

.share-buttons{
  background-color: white;
  border: 1px solid white;
}



